files/week14/dashboard.json
[{"id":"2af76b17.4d1ed4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"449ca74.ca08f58","type":"comment","z":"2af76b17.4d1ed4","name":"","info":"Teste 123","x":0,"y":0,"wires":[]},{"id":"5678b30a.17d2dc","type":"ui_text","z":"2af76b17.4d1ed4","group":"696b7eee.a4cf7","order":1,"width":"12","height":"1","name":"","label":"TimeStamp","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":860,"wires":[]},{"id":"45431252.db5fec","type":"moment","z":"2af76b17.4d1ed4","name":"","topic":"time","input":"payload.time","inputType":"msg","inTz":"ETC/GMT","adjAmount":"1","adjType":"hours","adjDir":"add","format":"DD.MM.YYYYTHH:mm:ss","locale":"Lisbon","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":730,"y":1020,"wires":[["f40f1301.96bfa","5678b30a.17d2dc"]]},{"id":"f06dcdca.40c31","type":"ui_gauge","z":"2af76b17.4d1ed4","name":"PM2.5","group":"696b7eee.a4cf7","order":2,"width":"6","height":"6","gtype":"gage","title":"PM2.5","label":"ug/m³","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"11","x":1030,"y":720,"wires":[]},{"id":"1435560f.fcb4da","type":"ui_gauge","z":"2af76b17.4d1ed4","name":"PM10 ","group":"696b7eee.a4cf7","order":3,"width":"6","height":"6","gtype":"gage","title":"PM10","label":"ug/m³","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"21","x":1030,"y":780,"wires":[]},{"id":"5f6faa4d.955d74","type":"ui_chart","z":"2af76b17.4d1ed4","name":"","group":"21fee42b.56ac9c","order":8,"width":0,"height":0,"label":"Particle data","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1050,"y":840,"wires":[[]]},{"id":"28b0f951.689f86","type":"mqtt in","z":"2af76b17.4d1ed4","name":"BME280-temp","topic":"temperature","qos":"1","datatype":"json","broker":"6fd45d24.da0114","nl":false,"rap":true,"rh":0,"x":290,"y":800,"wires":[["5785fc68.04e5c4","f40f1301.96bfa","dd53ecfa.5638e"]]},{"id":"a7929015.82b3d","type":"mqtt in","z":"2af76b17.4d1ed4","name":"BME280-humidity","topic":"humidity","qos":"1","datatype":"json","broker":"6fd45d24.da0114","nl":false,"rap":true,"rh":0,"x":310,"y":880,"wires":[["5785fc68.04e5c4","f40f1301.96bfa","661ccffb.2bb31"]]},{"id":"49634409.41bc1c","type":"mqtt in","z":"2af76b17.4d1ed4","name":"BME280-pressure","topic":"pressure","qos":"1","datatype":"json","broker":"6fd45d24.da0114","nl":false,"rap":true,"rh":0,"x":310,"y":940,"wires":[["84dc9a1d.0341a8"]],"outputLabels":["pressure"]},{"id":"5785fc68.04e5c4","type":"ui_chart","z":"2af76b17.4d1ed4","name":"Meteo data","group":"696b7eee.a4cf7","order":4,"width":"12","height":"6","label":"Meteo data","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#1738de","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":830,"y":660,"wires":[[]]},{"id":"bebd536d.a84b9","type":"ui_text_input","z":"2af76b17.4d1ed4","name":"Pressure","label":"Pressure (hPa)","tooltip":"","group":"696b7eee.a4cf7","order":7,"width":"4","height":"1","passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":820,"y":820,"wires":[[]]},{"id":"70354943.3c36f8","type":"debug","z":"2af76b17.4d1ed4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1240,"wires":[]},{"id":"f40f1301.96bfa","type":"join","z":"2af76b17.4d1ed4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":1120,"wires":[["70354943.3c36f8","589fa8cf.0fcf08"]]},{"id":"84dc9a1d.0341a8","type":"function","z":"2af76b17.4d1ed4","name":"","func":"msg.payload = (msg.payload/100).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":960,"wires":[["f40f1301.96bfa","45431252.db5fec","bebd536d.a84b9"]]},{"id":"589fa8cf.0fcf08","type":"csv","z":"2af76b17.4d1ed4","name":"","sep":",","hdrin":true,"hdrout":"once","multi":"one","ret":"\\n","temp":"time, temperature, humidity,pressure","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":850,"y":1120,"wires":[["794b1d7e.d8a294","3bd8f773.86c6a8"]]},{"id":"794b1d7e.d8a294","type":"debug","z":"2af76b17.4d1ed4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":1040,"wires":[]},{"id":"3bd8f773.86c6a8","type":"file","z":"2af76b17.4d1ed4","name":"","filename":"test.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1040,"y":1200,"wires":[[]]},{"id":"dd53ecfa.5638e","type":"ui_text_input","z":"2af76b17.4d1ed4","name":"Temperature","label":"Temperature (ºC)","tooltip":"","group":"696b7eee.a4cf7","order":5,"width":"4","height":"1","passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":830,"y":720,"wires":[[]]},{"id":"661ccffb.2bb31","type":"ui_text_input","z":"2af76b17.4d1ed4","name":"Humidity","label":"Humidity (%)","tooltip":"","group":"696b7eee.a4cf7","order":6,"width":"4","height":"1","passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":820,"y":780,"wires":[[]]},{"id":"696b7eee.a4cf7","type":"ui_group","name":"Portable Air quality sensor","tab":"2b949099.32c41","order":1,"disp":true,"width":13,"collapse":false},{"id":"21fee42b.56ac9c","type":"ui_group","name":"Group 1","tab":"4683c570.b2625c","order":1,"disp":true,"width":6},{"id":"6fd45d24.da0114","type":"mqtt-broker","name":"mqtt-broker","broker":"104.248.192.136","port":"1883","clientid":"vneves","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"1","birthPayload":"connection established","birthMsg":{},"closeTopic":"test","closeQos":"0","closePayload":"closing message","closeMsg":{},"willTopic":"test","willQos":"0","willPayload":"connection was interrupted","willMsg":{},"sessionExpiry":""},{"id":"2b949099.32c41","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"4683c570.b2625c","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2,"disabled":false,"hidden":false}]